body{
  overflow: hidden;
}

#App{
  display: flex;
  position: relative;
}

#canvas{
  width: 65vw;
  height: 100vh;
}

#content{
  margin-left: 10px;
  width: 35vw;
  height: 100vh;
  transform: translateY(30%);
  -ms-transform: translateY(-30%);
}


.portfolio{
  display: flex;
  margin: 30px 0 30px 0;
}

.porto{
  margin: 0 5px 0 5px;
  width: 400px;
  height: 100px;
}

button{
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  background-color: black;
  color: white;
}

button:disabled,button:hover:disabled{
  background-color: white;
  color: black;
  cursor: context-menu;
  opacity: 75%;
}
