body{
  overflow: hidden;
}

#App{
  display: flex;
  position: relative;
}

#canvas{
  width: 65vw;
  height: 100vh;
}

#content{
  margin-left: 10px;
  width: 35vw;
  height: 100vh;
  transform: translateY(40%);
  -ms-transform: translateY(-40%);
}


.portfolio{
  display: flex;
  margin: 30px 0 30px 0;
}

.porto{
  margin: 0 5px 0 5px;
  width: 400px;
  height: 100px;
}